.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: brown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: black; /* Green */
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding: 10px;
  margin-left: 5%;
}

header nav {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.pizza-build {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 800px;
  margin-left: 25%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pizza-input div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background-color: rgb(221, 221, 221);
}

#name-input {
  display: flex;
  align-items: flex-start;
  width: 30%;
  margin: 20px;
  padding: 5px;
}

#size-dropdown {
  display: flex;
  align-items: flex-start;
  width: 30%;
  margin: 20px;
  padding: 5px;
}

#pizza-checkbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
}

#pizza-checkbox label {
  padding: 10px;
}

#special-text {
  display: flex;
  align-items: flex-start;
  width: 30%;
  margin: 20px;
  padding: 5px;
}

.errors {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  color: red;
  font-size: x-large;
  text-transform: uppercase;
}

#order-button {
  margin: 20px;
  border: 1px solid black;
}